body {
    font-family: Arial, sans-serif;
    background-image: url("https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?cs=srgb&dl=abstract-background-blur-949587.jpg&fm=jpg");
    color: white;
}

h1 {
    color: white;
}
h4{
    color: white;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

main {
    padding: 20px 0;
    color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }